import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Step 1: Import Libraries

# Step 2: Load Datasets
customers = pd.read_csv("Customers.csv")
products = pd.read_csv("Products.csv")
transactions = pd.read_csv("Transactions.csv")

# Step 3: Basic Overview of Each Dataset
# Customers Dataset
print("Customers Dataset Info:")
print(customers.info())
print("\nSample Data:\n", customers.head())
print("\nSummary Statistics:\n", customers.describe(include="all"))

# Products Dataset
print("\nProducts Dataset Info:")
print(products.info())
print("\nSample Data:\n", products.head())
print("\nSummary Statistics:\n", products.describe(include="all"))

# Transactions Dataset
print("\nTransactions Dataset Info:")
print(transactions.info())
print("\nSample Data:\n", transactions.head())
print("\nSummary Statistics:\n", transactions.describe(include="all"))

# Step 4: Check for Missing Values and Duplicates
print("\nMissing Values:")
print("Customers:\n", customers.isnull().sum())
print("Products:\n", products.isnull().sum())
print("Transactions:\n", transactions.isnull().sum())

print("\nDuplicate Records:")
print("Customers Duplicates:", customers.duplicated().sum())
print("Products Duplicates:", products.duplicated().sum())
print("Transactions Duplicates:", transactions.duplicated().sum())

# Step 5: Merge Datasets for Comprehensive EDA
# Merging on CustomerID and ProductID
merged_data = pd.merge(transactions, customers, on="CustomerID", how="inner")
merged_data = pd.merge(merged_data, products, on="ProductID", how="inner")

print("\nMerged Data Info:")
print(merged_data.info())
print("\nSample Merged Data:\n", merged_data.head())

# Drop Price_x and Price_y, create Price from Price_x
if 'Price_x' in merged_data.columns and 'Price_y' in merged_data.columns:
    merged_data['Price'] = merged_data['Price_x']
    merged_data = merged_data.drop(['Price_x', 'Price_y'], axis=1)


print("\nMerged Data Info:")
print(merged_data.info())
print("\nSample Merged Data:\n", merged_data.head())

# Extract product ID
merged_data['ProductID'] = merged_data['ProductID'].str.extract('(\d+)')
merged_data['TransactionID'] = merged_data['TransactionID'].str.extract('(\d+)')
merged_data['CustomerID'] = merged_data['CustomerID'].str.extract('(\d+)')

for col in ['TransactionID', 'CustomerID', 'ProductID']:
    try:
        merged_data[col] = pd.to_numeric(merged_data[col], errors='coerce')
    except KeyError:
        print(f"Column '{col}' not found in the DataFrame.")
    except Exception as e:
        print(f"An error occurred while converting '{col}': {e}")

Customers Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    200 non-null    object
 1   CustomerName  200 non-null    object
 2   Region        200 non-null    object
 3   SignupDate    200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB
None

Sample Data:
   CustomerID        CustomerName         Region  SignupDate
0      C0001    Lawrence Carroll  South America  2022-07-10
1      C0002      Elizabeth Lutz           Asia  2022-02-13
2      C0003      Michael Rivera  South America  2024-03-07
3      C0004  Kathleen Rodriguez  South America  2022-10-09
4      C0005         Laura Weber           Asia  2022-08-15

Summary Statistics:
        CustomerID      CustomerName         Region  SignupDate
count         200               200            200         200
unique        200               200              4         179
top         C0001  Lawrence Carroll  South America  2024-11-11
freq            1                 1             59           3

Products Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    100 non-null    object
 1   ProductName  100 non-null    object
 2   Category     100 non-null    object
 3   Price        100 non-null    float64
dtypes: float64(1), object(3)
memory usage: 3.3+ KB
None

Sample Data:
   ProductID              ProductName     Category   Price
0      P001     ActiveWear Biography        Books  169.30
1      P002    ActiveWear Smartwatch  Electronics  346.30
2      P003  ComfortLiving Biography        Books   44.12
3      P004            BookWorld Rug   Home Decor   95.69
4      P005          TechPro T-Shirt     Clothing  429.31

Summary Statistics:
        ProductID            ProductName Category       Price
count        100                    100      100  100.000000
unique       100                     66        4         NaN
top         P001  ActiveWear Smartwatch    Books         NaN
freq           1                      4       26         NaN
mean         NaN                    NaN      NaN  267.551700
std          NaN                    NaN      NaN  143.219383
min          NaN                    NaN      NaN   16.080000
25%          NaN                    NaN      NaN  147.767500
50%          NaN                    NaN      NaN  292.875000
75%          NaN                    NaN      NaN  397.090000
max          NaN                    NaN      NaN  497.760000

Transactions Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    1000 non-null   object
 1   CustomerID       1000 non-null   object
 2   ProductID        1000 non-null   object
 3   TransactionDate  1000 non-null   object
 4   Quantity         1000 non-null   int64
 5   TotalValue       1000 non-null   float64
 6   Price            1000 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 54.8+ KB
None

Sample Data:
   TransactionID CustomerID ProductID      TransactionDate  Quantity  \
0        T00001      C0199      P067  2024-08-25 12:38:23         1
1        T00112      C0146      P067  2024-05-27 22:23:54         1
2        T00166      C0127      P067  2024-04-25 07:38:55         1
3        T00272      C0087      P067  2024-03-26 22:55:37         2
4        T00363      C0070      P067  2024-03-21 15:10:10         3

   TotalValue   Price
0      300.68  300.68
1      300.68  300.68
2      300.68  300.68
3      601.36  300.68
4      902.04  300.68

Summary Statistics:
        TransactionID CustomerID ProductID      TransactionDate     Quantity  \
count           1000       1000      1000                 1000  1000.000000
unique          1000        199       100                 1000          NaN
top           T00001      C0109      P059  2024-08-25 12:38:23          NaN
freq               1         11        19                    1          NaN
mean             NaN        NaN       NaN                  NaN     2.537000
std              NaN        NaN       NaN                  NaN     1.117981
min              NaN        NaN       NaN                  NaN     1.000000
25%              NaN        NaN       NaN                  NaN     2.000000
50%              NaN        NaN       NaN                  NaN     3.000000
75%              NaN        NaN       NaN                  NaN     4.000000
max              NaN        NaN       NaN                  NaN     4.000000

         TotalValue       Price
count   1000.000000  1000.00000
unique          NaN         NaN
top             NaN         NaN
freq            NaN         NaN
mean     689.995560   272.55407
std      493.144478   140.73639
min       16.080000    16.08000
25%      295.295000   147.95000
50%      588.880000   299.93000
75%     1011.660000   404.40000
max     1991.040000   497.76000

Missing Values:
Customers:
 CustomerID      0
CustomerName    0
Region          0
SignupDate      0
dtype: int64
Products:
 ProductID      0
ProductName    0
Category       0
Price          0
dtype: int64
Transactions:
 TransactionID      0
CustomerID         0
ProductID          0
TransactionDate    0
Quantity           0
TotalValue         0
Price              0
dtype: int64

Duplicate Records:
Customers Duplicates: 0
Products Duplicates: 0
Transactions Duplicates: 0

Merged Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    1000 non-null   object
 1   CustomerID       1000 non-null   object
 2   ProductID        1000 non-null   object
 3   TransactionDate  1000 non-null   object
 4   Quantity         1000 non-null   int64
 5   TotalValue       1000 non-null   float64
 6   Price_x          1000 non-null   float64
 7   CustomerName     1000 non-null   object
 8   Region           1000 non-null   object
 9   SignupDate       1000 non-null   object
 10  ProductName      1000 non-null   object
 11  Category         1000 non-null   object
 12  Price_y          1000 non-null   float64
dtypes: float64(3), int64(1), object(9)
memory usage: 101.7+ KB
None

Sample Merged Data:
   TransactionID CustomerID ProductID      TransactionDate  Quantity  \
0        T00001      C0199      P067  2024-08-25 12:38:23         1
1        T00112      C0146      P067  2024-05-27 22:23:54         1
2        T00166      C0127      P067  2024-04-25 07:38:55         1
3        T00272      C0087      P067  2024-03-26 22:55:37         2
4        T00363      C0070      P067  2024-03-21 15:10:10         3

   TotalValue  Price_x     CustomerName         Region  SignupDate  \
0      300.68   300.68   Andrea Jenkins         Europe  2022-12-03
1      300.68   300.68  Brittany Harvey           Asia  2024-09-04
2      300.68   300.68  Kathryn Stevens         Europe  2024-04-04
3      601.36   300.68  Travis Campbell  South America  2024-04-11
4      902.04   300.68    Timothy Perez         Europe  2022-03-15

                       ProductName     Category  Price_y
0  ComfortLiving Bluetooth Speaker  Electronics   300.68
1  ComfortLiving Bluetooth Speaker  Electronics   300.68
2  ComfortLiving Bluetooth Speaker  Electronics   300.68
3  ComfortLiving Bluetooth Speaker  Electronics   300.68
4  ComfortLiving Bluetooth Speaker  Electronics   300.68

Merged Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    1000 non-null   object
 1   CustomerID       1000 non-null   object
 2   ProductID        1000 non-null   object
 3   TransactionDate  1000 non-null   object
 4   Quantity         1000 non-null   int64
 5   TotalValue       1000 non-null   float64
 6   CustomerName     1000 non-null   object
 7   Region           1000 non-null   object
 8   SignupDate       1000 non-null   object
 9   ProductName      1000 non-null   object
 10  Category         1000 non-null   object
 11  Price            1000 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 93.9+ KB
None

Sample Merged Data:
   TransactionID CustomerID ProductID      TransactionDate  Quantity  \
0        T00001      C0199      P067  2024-08-25 12:38:23         1
1        T00112      C0146      P067  2024-05-27 22:23:54         1
2        T00166      C0127      P067  2024-04-25 07:38:55         1
3        T00272      C0087      P067  2024-03-26 22:55:37         2
4        T00363      C0070      P067  2024-03-21 15:10:10         3

   TotalValue     CustomerName         Region  SignupDate  \
0      300.68   Andrea Jenkins         Europe  2022-12-03
1      300.68  Brittany Harvey           Asia  2024-09-04
2      300.68  Kathryn Stevens         Europe  2024-04-04
3      601.36  Travis Campbell  South America  2024-04-11
4      902.04    Timothy Perez         Europe  2022-03-15

                       ProductName     Category   Price
0  ComfortLiving Bluetooth Speaker  Electronics  300.68
1  ComfortLiving Bluetooth Speaker  Electronics  300.68
2  ComfortLiving Bluetooth Speaker  Electronics  300.68
3  ComfortLiving Bluetooth Speaker  Electronics  300.68
4  ComfortLiving Bluetooth Speaker  Electronics  300.68

In [ ]:
data = pd.merge(transactions, customers, on="CustomerID", how="inner")
data = pd.merge(data, products, on="ProductID", how="inner")
data['CustomerID'] = data['CustomerID'].str.extract('(\d+)')
data['CustomerID'] = data['CustomerID'].astype(int)

In [ ]:
customers['CustomerID'] = customers['CustomerID'].str.extract('(\d+)')
customers['CustomerID'] = customers['CustomerID'].astype(int)

In [ ]:
customer_profiles = data.groupby("CustomerID").agg(
    TotalSpend=("TotalValue", "sum"),
    AvgTransactionValue=("TotalValue", "mean"),
    TotalQuantity=("Quantity", "sum"),
    MostPurchasedCategory=("Category", lambda x: x.mode()[0]),
).reset_index()

# One-hot encode categorical variables (e.g., region and favorite category)
customers['RegionEncoded'] = pd.factorize(customers['Region'])[0]
customer_profiles["MostPurchasedCategory"] = pd.factorize(customer_profiles["MostPurchasedCategory"])[0]

customer_profiles = pd.merge(customer_profiles, customers[['CustomerID', 'RegionEncoded']], on='CustomerID', how='left')

# Step 5: Fill Missing Values
customer_profiles.fillna(0, inplace=True)

# Step 6: Normalize Numerical Features
scaler = MinMaxScaler()
numerical_columns = ["TotalSpend", "AvgTransactionValue", "TotalQuantity"]
customer_profiles[numerical_columns] = scaler.fit_transform(customer_profiles[numerical_columns])

if 'Region' in customer_profiles.columns:
    customer_profiles =customer_profiles.drop(columns=['Region'])
    print("Region column dropped successfully.")
else:
    print("Region column not found in the DataFrame.")

# Step 7: Compute Similarity
# Compute cosine similarity matrix for all customers
similarity_matrix = cosine_similarity(customer_profiles)
similarity_df = pd.DataFrame(similarity_matrix, index=customer_profiles.index, columns=customer_profiles.index)

# Step 8: Generate Recommendations
# Function to get top 3 similar customers for each customer
def get_top_3_similar(customers, similarity_df):
    lookalike_map = {}
    for customer_id in customers:
        similar_customers = similarity_df[customer_id].sort_values(ascending=False)
        similar_customers = similar_customers[similar_customers.index != customer_id]
        top_3_similar = similar_customers[:3]
        lookalike_map[customer_id] = list(zip(top_3_similar.index, top_3_similar.values))
    return lookalike_map

# Get top 3 lookalikes for the first 20 customers
customer_ids = customers["CustomerID"][:20]
lookalike_map = get_top_3_similar(customer_ids, similarity_df)

# Step 9: Save Recommendations
# Convert to DataFrame and save as Lookalike.csv
lookalike_list = []
for cust_id, lookalikes in lookalike_map.items():
    lookalike_list.append({"CustomerID": cust_id, "Lookalikes": lookalikes})

lookalike_df = pd.DataFrame(lookalike_list)
lookalike_df.to_csv("Lookalike.csv", index=False)

# Step 10: Display Lookalikes
print("Lookalike Recommendations for First 20 Customers:")
print(lookalike_df.head())

Region column not found in the DataFrame.
Lookalike Recommendations for First 20 Customers:
   CustomerID                                         Lookalikes
0           1  [(7, 0.957572650722631), (8, 0.928999528470089...
1           2  [(3, 0.9970135030408568), (5, 0.99036957102828...
2           3  [(2, 0.9970135030408568), (5, 0.97945277905464...
3           4  [(6, 0.9984401740783491), (15, 0.9934033649355...
4           5  [(2, 0.9903695710282813), (3, 0.97945277905464...